:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  flex-direction: column;

  .title {
    font-family: "Courier New", Courier, monospace;
    font-size: 4.5em;
    font-weight: 700;
    margin: 30px 0;
    text-align: center;
  }

  .welcome {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: x-large;
  }

  input[type="text"] {
    margin-bottom: 10px;
  }
  .textarea-container {
    position: relative;
  }

  textarea {
    width: 800px;
    height: 100px;
    background-color: rgb(255, 255, 255);
  }

  .publier {
    position: absolute;
    bottom: 6px;
    right: 0px;
    background-color: rgb(214, 132, 255);
  }
  .anecdote-container {
    border: 1px solid #ccc;
    background-color: rgb(255, 246, 234);
    border-radius: 10px; /* Augmenter le rayon de la bordure */
    padding: 50px; /* Augmenter la marge intérieure */
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 300px;
    transition: height 0.3s ease;
  }
  .anecdote-container.expanded {
    height: 500px;
  }
  .anecdote-text {
    font-size: 24px; /* Taille de police plus grande */
    text-align: center;
    margin-bottom: 30px; /* Espace en dessous du texte */
  }

  .buttons-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centrer les boutons */
  }

  .buttons {
    display: flex;
  }

  .buttons button {
    margin: 0 10px; /* Espacement entre les boutons */
  }

  .image-button img {
    width: 30px; /* Augmenter la taille des images */
    height: auto;
  }

  .bottom-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
  }

  .photo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
  }

  .comment-section {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    // background-color: rgb(255, 246, 234);
    // border-radius: 10px;
    // padding: 50px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // width: 800px;
    // height: 200px;
  }

  .comment-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .comment-text {
    font-size: 14px;
  }

  .comment-author {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .comment-date {
    color: #777;
    font-size: 12px;
  }

  .add-comment-container {
    margin-top: 20px;
  }

  .add-comment-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .add-comment-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
